sudo: false
language: python

python:
    #- 2.5
    - 2.7
    - 3.3
    - 3.4

install:
    - pip install -r requirements.txt
    - pip install -r requirements_test.txt
    - python setup.py install

script:
    nosetests
